.g-dialog-container{
	position: fixed;
	left: 0;top:0;height: 100%;width: 100%;
	background-color: rgba(0,0,0,0.6);
	display: -webkit-box;
	-webkit-box-pack:center;
	-webkit-box-align:center;
	z-index: 100000;
}
.g-dialog-container .dialog-window{
	padding: 1em;
	border-radius: 10px;
	background-color: rgba(0,0,0,0.8);
	transition:all .3s cubic-bezier(0, 0, 0.1, 1.08);
-webkit-transition:all .3s cubic-bezier(0, 0, 0.1, 1.08);

}
.g-dialog-container .dialog-window .loading{
	width: 50px;
	height: 50px;
	margin: 0 auto;
	background:url("loading.gif") no-repeat 0 0;
	position: relative;
    top: 10px;
    left: 10px;
	}
	.g-dialog-container .dialog-window .warning{
	width: 50px;
	height: 50px;
	margin: 0 auto;
	background:url("a.png") no-repeat 0 0;
	background-size: 50px;
}
.g-dialog-container .dialog-window .ok{
	width: 50px;
	height: 50px;
	margin: 0 auto;
	background:url("ok.png") no-repeat 0 0;
	background-size: 50px;
}
.g-dialog-container .dialog-window .dialog-content{
	padding: 1em 1em 0;
	color: #ffffff;
	line-height: 180%;
	text-align: center;
}
.g-dialog-container .dialog-window .dialog-footer{
	padding: 1em 1em 0;
	display: -webkit-flex;
	-webkit-justify-content:center;
	-webkit-align-items:center;

}
.g-dialog-container .dialog-window .dialog-footer .green{
	background-color: rgba(2,202,200,0.8);
}
.g-dialog-container .dialog-window .dialog-footer .red{
	background-color: rgba(251,23,50,0.8);
}
.g-dialog-container .dialog-window .dialog-footer button{
	webkit-apperance:normal;
	background-color: rgba(255,255,255,0.8);
	padding: 0.8em 1.8em;
	border: none;
	color: #eee;
	border-radius: 5px;
	margin: 0.3em;
	text-shadow:#666 1px 1px 0;

}
