.container1{
    
    margin:0 auto;
    position:absolute;
    position: absolute;
    left: -70.5%;
    top: -1.5%;
    
}
.Box{
    width:560px;
    height:560px;
    position:relative;
    margin:0 auto;
}
.rightRotate{
    transform:rotate(90deg);
}
.leftRotate{
    transform:rotate(-90deg);
}

.downRotate{
    transform:rotate(180deg);
}
.red {
    width: 20px;
    height: 20px;
    background: url("../images/red.png") no-repeat center;
    position: absolute;
    transition: all 1s;
    transform:rotate(90deg);
   
}
#red1{
    left: 445px;
    top: 55px;
}
#red2{
    left: 495px;
    top: 55px;
}
#red3{
    left: 445px;
    top: 105px;
}
#red4{
    left: 495px;
    top: 105px;
}
.yellow{
     width: 20px;
    height: 20px;
    background: url("../images/yellow.png") no-repeat center;
    position: absolute;
    transition: all 1s;
     transform:rotate(180deg);
}
#yellow1{
    top:55px;
    left:835px;
}
#yellow2{
    top:55px;
    left:885px;
}
#yellow3{
    top:105px;
    left:835px;
}
#yellow4{
    top:105px;
    left:885px;
}
.green{
     width: 20px;
    height: 20px;
    background: url("../images/green.png") no-repeat center;
    position: absolute;
    transition: all 1s;
}
#green1{
    top:445px;
    left:445px;
}
#green2{
    top:495px;
    left:445px;
}
#green3{
    top:495px;
    left:495px;
}
#green4{
    top:445px;
    left:495px;
}
.blue{
     width: 20px;
    height: 20px;
    background: url("../images/blue.png") no-repeat center;
    position: absolute;
    transition: all 1s;
    transform:rotate(-90deg);
}
#blue1{
    top:445px;
    left:885px;
}
#blue2{
    top:445px;
    left:835px;
}
#blue3{
    top:495px;
    left:835px;
}
#blue4{
    top:495px;
    left:885px;
}